@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

header,
main,
footer {
  @apply mx-auto max-w-4xl px-5 lg:px-0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.transitions {
  @apply transition duration-500;
}
